@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  background: url('../img/login.jpg') center;
  background-size:cover;
  height: 100%;
  margin: auto;
  font-family: 'PT Sans', sans-serif;
}

/*NAV, LOGO, SOCIAL */

.nav-bar{
  background: rgba(43, 42, 42, 0.671);
  width: 100%;
}


.box-social{
  width: 100%;
  background: #FA0;
}


.social{
  font-size:1.6em;
  color: black !important;
  padding: 0 7px;
  cursor: pointer;
}

.social:hover{
  color: white !important;
  border-radius:5px;
}
.box-logo{
  position: relative;
  top: -20px;
}

.logo{
  width:300px;
  height:300px;
  margin: 0 auto;
}

.box-slogan{
  margin: auto 0;
}

.title{
  color: #ffff00;
}

.slogan{
  font-family: industrial;
  color:white;
  position: absolute;
  top:250px;
  margin: 0 auto;
  font-size: .8em
}


/*FORMULARIO LOGIN */
.login-form:nth-child(1) {
  background: rgba(255,255,255,0.5);
  margin: 7em auto;
  overflow: hidden;
  position: relative;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 2px 2px 0 black;
}

.heading {
  background: rgba(43, 42, 42, 0.871);
  color: white;
  text-align: center;
  padding: 1.5em;
}


.login{
}
.box-input{
  width: 100%;
  padding: 2em 2em;
}

.box-input > input{
  border-radius: 5px;
  background: none;
  text-align: center;
}
.box-input > label{
  color: rgba(43, 42, 42, 0.871);
  cursor: text;
  position: absolute;
}
.box-input > input{
  outline: none;
  border: none;
  background: rgba(255,255,255,0.4);
}

.bar-input-login{
  padding: 0 2px !important;
}

.bar{
  display: none;
}

.box-btn{
  padding: 1.5em 2em;
}

.btn-login{
  margin: 1em auto;
  background: #FF0;
  font-weight: 600;
  color: black;
  outline: none;
}



.btn-login:hover{
  cursor: pointer;
  color:white;
  background: #fA0;
}

.btn-login:focus{
  color:white;
  background: #fA0;
}

.btn-login:nth-child(2){
  background-color: #15d415;
  color: black;
}

.btn-login:nth-child(2):hover{
  background-color: #158415;
  color: white;
}


.btn-login:nth-child(2):focus{
  background-color: #158415;
  color: white;
}

.social-login{
  background: rgba(43, 42, 42, 0.871);
  color: #FF0;
  width:100%;
  height: 45px;
  font-family: industrail;
}

.box-social-login{
  height: 30px;
  width: 220px;
}


.headingRegister{
  background: rgba(255, 170, 0, 0.795);
  color: black;
  text-align: center;
  padding: 1.5em;
}

.box-form-register{
  position: relative;
  margin: 7em auto; 
  background: rgba(43, 42, 42, 0.671) !important;
  margin: auto;
  display: none;
  opacity: 0;
}

.box-inputRegister{
  width: 100%;
  padding: 2em 2em;
}

.box-inputRegister > input{
  border-radius: 5px;
  background: none;
  text-align: center;
  outline: none;
  border: none;
  color: white;
  background: rgba(255,255,255,0.4) !important;
}
.box-inputRegister > label{
  color: black;
  z-index: 2;
  cursor: text;
  position: absolute;
}

.form-check-input {
  margin-top: 0.35rem !important;
}

.form-check label{
  font-size: .8em;
  color: rgba(255,255,255,0.5);
}

.social-login-register{
  background: rgba(255, 170, 0, 0.795);
  width:100%;
  height: 45px;
  font-family: industrail;
}

.box-social-login-register{
  height: 30px;
  width: 220px;
}

/*FOOTER */


.footer-page{
  background: rgba(43, 42, 42, 0.671);
  width: 100%;
  height: 100%;
}

.box-footer-center{
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.info-section > ul{
  margin: 20px 0;
  list-style: none;
}


.footer-list-header{
  color: #FA0;
  text-align: center;
}

.link-footer{
  cursor: pointer;
  color: white !important;
  
}

.link-footer:hover{
  border-bottom: 2px solid black;
  text-decoration: none;
  text-transform: uppercase;
}





.footer-line{
  height: 1px;
  width: 100%;
  margin: 5px 0;
  background-color: rgba(255,255,255,0.4);
}




.copyright{
  color: white;
}










/*ATRIBUTOS RESPONSIVOS */
@media only screen and (max-width: 370px) {
  
.btn-login:nth-child(2){
  font-size: .4em;
  text-transform: uppercase;

}

.btn-login:nth-child(2):hover{
  background-color: #158415;
  color: white;
}


.btn-login:nth-child(2):focus{
  background-color: #158415;
  color: white;
}
}



@media only screen and (max-width: 580px) {
  .box-container{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
  }

  .box-slogan{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;

  }

  .btn-login{
    font-size: 0.5em;
    
  }

  .box-social{
    width: 100% !important;
    display: flex !important;
    justify-content: space-around !important
  }
}

@media only screen and (max-width: 460px) {
  .info-section{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
  }

  .footer-bottom{
    text-align: center;
  }


.box-footer-center{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  padding: 20px;
}

}



/*FONTES */

/* Fonte Slogan */
@font-face {
  font-family: industrial;
  src: url(../fonts/industrial/ShenzhenIndustrial.ttf);
}


/* CODEPEN 




* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: #FF0;
}
.generic-anchor:visited {
  color: #FF0;
}
.generic-anchor:hover {
  color: #FA0;
}

.flex-rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: #9b9b9b;
  line-height: 1;
}

footer {
  background: rgba(43, 42, 42, 0.871);
  width: 100%;
}

.footer-list-top {
  width: 50%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 1.3vw "Oswald", sans-serif;
}

.footer-list-anchor {
  font: 1.0em "Open Sans", sans-serif;
}

.footer-social-section {
  width: 100%;
  margin-top: 2px; 
  background: rgba(43, 42, 42, 0.871);
  color: rgb(255, 255, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  width: calc(100% - 20px);
}

.footer-social-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}




.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
}


@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    font-size: 3em;
  }

  .footer-list-anchor {
    font-size: 1.5em;
  }

  .footer-social-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }



  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
*/