body {
  background: url('../img/login.jpg') no-repeat;
  background-size:cover;
  height: 100%;
  margin: auto;
}

/*NAV, LOGO, SOCIAL */

.nav-bar{
  background: rgba(43, 42, 42, 0.671);
  width: 100%;
}


.box-social{
  width: 100%;
  background: #FA0;
}


.social{
  font-size:1.6em;
  color: black !important;
  padding: 0 7px;
  cursor: pointer;
}

.social:hover{
  color: white !important;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius:5px;
}



.logo{
  width:300px;
  height:300px;
  margin: 0 auto;
}

.box-slogan{
  margin: auto 0;
}

.title{
  color: #ffff00;
}

.slogan{
  font-family: industrial;
  color:white;
  position: absolute;
  top:250px;
}


/*MENU */
form#login-form {
  background: rgba(255,255,255,0.5);
  margin: 7em auto;
  overflow: hidden;
  position: relative;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 2px 2px 0 black;
}

form#login-form div.heading {
  background: rgba(43, 42, 42, 0.871);
  color: rgb(255, 255, 0);
  text-align: center;
  font-weight: 500;
  padding: 1.5em;
}


.login{
  width:50%;
}
.box-input{
  padding: 1.5em 2em;
}

.box-input > input{
  width:75%;
  text-align: center;
}
.box-input > label{
  color: black;
}
.box-input > input{
  width:75%;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 2px 0 black;
  background: rgba(43, 42, 42, 0.871);
  color: #ff0;
}

.box-btn{
  padding: 1.5em 2em;
}

.btn-login{
  margin: 1em auto;
  background: #FF0;
  font-weight: 600;
  color: black;
  outline: none;
}
.btn-login:hover{
  cursor: pointer;
  color: rgba(43, 42, 42, 0.871);
  background: #fA0;

}

.social-login{
  width: 50%;
  display: inline-block;
}








/*ATRIBUTOS RESPONSIVOS */
@media only screen and (max-width: 580px) {
  .box-container{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
  }

  .box-slogan{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;

  }

  .box-social{
    width: 100% !important;
    display: flex !important;
    justify-content: space-around !important
  }
}

/*FONTES */

/* Fonte Slogan */
@font-face {
  font-family: industrial;
  src: url(../fonts/industrial/ShenzhenIndustrial.otf);
}


/* CODEPEN */




* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: #FF0;
}
.generic-anchor:visited {
  color: #FF0;
}
.generic-anchor:hover {
  color: #FA0;
}

.flex-rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: #9b9b9b;
  line-height: 1;
}

footer {
  background: rgba(43, 42, 42, 0.871);
  width: 100%;
}

.footer-list-top {
  width: 50%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 1.3vw "Oswald", sans-serif;
}

.footer-list-anchor {
  font: 1.0em "Open Sans", sans-serif;
}

.footer-social-section {
  width: 100%;
  margin-top: 2px; 
  background: rgba(43, 42, 42, 0.871);
  color: rgb(255, 255, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  width: calc(100% - 20px);
}

.footer-social-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}




.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
}


@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    font-size: 3em;
  }

  .footer-list-anchor {
    font-size: 1.5em;
  }

  .footer-social-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }



  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
