body {
  background-color: rgba(43, 42, 42, 0.871);;
  background-size:cover;
  height: 100%;
  margin: auto;
  font-family: 'PT Sans', sans-serif;
}

/*Menu de Navegação*/

.nav-top{
  background-color: #FF0;
  width: 100%;
  height: 56px;
}
.box-top{
height: 100%;
}

.box-info{
  list-style: none;
  text-align: center;
  font-size: .8em;
  height:56px;
}

.box-logo{
  width: 50px;
  height: 50px;

}

.box-logo{
  background-image: url('../img/profile/logoMenu.png');
  width: 150px;
  height: 150px;
  background-size: cover;
}


.nav-bottom{
  background-color: black;
  width: 100%;
  height: 100px;
}

.box-img-profile{
  position: absolute !important;
}

img{
  width: 150px;
  height: 150px;
  border-radius:20px 50% 50%  20px ;
  border: 3px solid yellow;
}


.box-apresentation{
  height: fit-content;
  background-color: white;
}

.apresentation{

}

.box-temp{

}

.img-temp{
  width: 32px;
  height: 32px;
}

.box-rain{
}

.img-rain{
  width: 32px;
  height: 32px;
}


.box-menu-bottom{
  width: 
}



/*FOOTER */


.footer-page{
  background: rgba(43, 42, 42, 0.671);
  width: 100%;
  height: 100%;
}

.box-footer-center{
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.info-section > ul{
  margin: 20px 0;
  padding: 10px 0;
  list-style: none;
}


.footer-list-header{
  color: #FA0;
  text-align: center;
}

.link-footer{
  cursor: pointer;
  color: white !important;
}

.link-footer:hover{
  font-weight: 900;
}


.term-footer{
  cursor: pointer;
  color: white !important;
}

.term-footer:hover{
  font-weight: 900;
  text-decoration: none;
}

.footer-line{
  height: 1px;
  width: 100%;
  margin: 5px 0;
  background-color: rgba(255,255,255,0.4);
}

.copyright{
  color: white;
}

@media only screen and (max-width: 460px) {
  .info-section{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
  }

  .footer-bottom{
    text-align: center;
  }


.box-footer-center{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  padding: 20px;
}







