



/*FOOTER */


.footer-page{
  background: rgba(43, 42, 42, 0.671);
  width: 100%;
  height: 100%;
}

.box-footer-center{
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.info-section > ul{
  margin: 20px 0;
  padding: 10px 0;
  list-style: none;
}


.footer-list-header{
  color: #FA0;
  text-align: center;
}

.link-footer{
  cursor: pointer;
  color: white !important;
}

.link-footer:hover{
  border-bottom: 2px solid black;
  text-decoration: none;
  text-transform: uppercase;
}


.term-footer{
  cursor: pointer;
  color: white !important;
}

.term-footer:hover{
  border-bottom: 2px solid black;
  text-decoration: none;
}

.footer-line{
  height: 1px;
  width: 100%;
  margin: 5px 0;
  background-color: rgba(255,255,255,0.4);
}

.copyright{
  color: white;
}

@media only screen and (max-width: 460px) {
  .info-section{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
  }

  .footer-bottom{
    text-align: center;
  }


.box-footer-center{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  padding: 20px;
}







