body {
    font-family: Lora;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: rgb(0,0,0) no-repeat;
    background: radial-gradient(circle, #FA0 0%, rgba(0,0,0,1)80%);
    background-size: cover;
}

.logoLogin {
    width: 150px;
    height: 150px;
}

.box-input {
    margin: 30px 0;
}

    .box-input > label {
        position: absolute;
        z-index: 5;
    }

    .box-input > input {
        background: rgba(0,0,0,0);
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        text-align: center;
    }


.btn-login {
    background: rgb(40,40,40);
    border: none;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px 0 0 2px;
    color: white;
    margin-top: 20px;
}


.nav-bottom-login {
    position: absolute;
    bottom: 20px;
    color: white;
    width: 100%;
}


.shine:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.shine:active:after {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
}


.facebookBtn, .googleBtn {
    color: black;
    font-size: 80%;
    color: white;
    width: 75%; 
    font-size: 80%;
    border:none;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
    margin: 0 auto;
}

    .facebookBtn:active {
        position: relative;
        box-shadow: none;
        top: 2px;
        transition:ease-in top 300ms;
    }

    .googleBtn:active {
        position: relative;
        box-shadow: none;
        top: 2px;
        transition: ease-in top 300ms;
    }



    #formLogin > section > div.box-btn.d-flex.flex-justify-content-around.col-9.flex-column > span {
        text-align: center;
    }

.facebookBtn {
    background-color: #3B5998;
}

.googleBtn {
    background-color: #DC4C3F;
    color: white;
}

    .facebookBtn:hover, .googleBtn:hover {
        cursor: pointer;
    }



@-webkit-keyframes shining {
    0% {
        background-position: left top;
    }

    100% {
        background: right bottom;
    }
}
@import url('https://fonts.googleapis.com/css?family=Lora');

@font-face {
    font-family: 'Lora', serif;
    font-family: 'PT Serif', serif;
}