body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: rgb(0,0,0) no-repeat;
    background: radial-gradient(circle, #FA0 0%, rgba(0,0,0,1)80%);
    background-size: cover;
}

.logoLogin {
    width: 150px;
    height: 150px;
}

.box-input{
    margin: 30px 0;
}

.box-input > label{
    position: absolute;
    z-index:5;
}

    .box-input > input {
        background: rgba(0,0,0,0);
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        text-align: center;
    }


.btn-login {
    background: rgb(40,40,40);
    color: white;
    margin-top: 20px;
}


.nav-bottom-login{
    position:absolute;
    bottom: 20px;
    color:white;
}


.shine:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.shine:hover:after{
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
}

.facebookBtn {
    background-color: #3B5998;
    color: white;
    margin-top: 45px;
}
.facebookBtn:hover{
    cursor:pointer;
}

@-webkit-keyframes shining {
    0% {
        background-position: left top;
    }

    100% {
        background: right bottom;
    }
}

/*
.login-form {
    background: rgba(43, 42, 42, 0.671);
    margin: 7em auto;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    box-shadow: 2px 2px 0 black;
    opacity: 1;
}


.heading {
    background: #FA0;
    color: black;
    text-align: center;
    padding: 1.5em;
}

.box-input {
    width: 100%;
    padding: 2em 2em;
}

    .box-input > input {
        border-radius: 5px;
        background: none;
        text-align: center;
        outline: none;
        border: none;
        color: white;
        background: rgba(255,255,255,0.4) !important;
    }

    .box-input > label {
        color: black;
        z-index: 2;
        cursor: text;
        position: absolute;
    }

    .box-input > input {
        outline: none;
        border: none;
        background: rgba(255,255,255,0.4);
    }

.bar-input-login {
    padding: 0 2px !important;
    height: 3px;
}

.box-btn {
    padding: 1.5em 2em;
}

.btn-login {
    margin: 1em auto;
    background: #FA0;
    font-weight: 600;
    color: black;
    outline: none;
}



    .btn-login:hover {
        cursor: pointer;
        color: black;
        background: #fF0;
    }

    .btn-login:focus {
        color: white;
        background: #fA0;
    }

    .btn-login:nth-child(2) {
        background-color: white;
        color: black;
    }

        .btn-login:nth-child(2):hover {
            background-color: rgba(255,255,255,0.5);
            color: black;
        }


        .btn-login:nth-child(2):focus {
            background-color: rgba(255,255,255,0.5);
            color: black;
        }


@media only screen and (max-width: 370px) {

    .btn-login:nth-child(2) {
        font-size: .4em;
        text-transform: uppercase;
    }

        .btn-login:nth-child(2):hover {
            background-color: rgba(255,255,255,0.5);
            color: white;
        }


        .btn-login:nth-child(2):focus {
            background-color: rgba(255,255,255,0.5);
            color: black;
        }

    .btn-title-modal {
        display: flex !important;
        flex-direction: column !important;
    }
}*/
